extends auth_base.jade

block content
    script(src="js/discover.js")
    if(matches.length == 0)
        h2.center-text You don't have any matches :(

    - for(var match = 0; match < matches.length ; match++)
    br
    br
    div.dog-discover-profile
        div.row
            div.tall-col.col-4
            div.tall-col.col-4
                    div.discover-container
                        h2.center-text #{matches[match].dog[0].name}
                        div.img-container
                            img(id="id_discover_image", src="data:" + matches[match].dog[0].picture.contentType + ";base64," + matches[match].dog[0].picture.data, alt="Dog Profile Picture")
                        div.row
                            div.tall-col.col-4
                                p Age: #{matches[match].dog[0].age}
                                p Breed: #{matches[match].dog[0].breed}
                            div.tall-col.col-4
                                p Owner's Name: #{matches[match].name}
                                p Email: #{matches[match].email}

            div.tall-col.col-4

    script(src="js/discover.js")
    link(href="stylesheets/discover.css", type="text/css", rel="stylesheet")