extends auth_base.jade
block content
	div.row
		div.col.col-1
		div.col.col-2.contacts
			h3 Matches
			- for(var match = 0; match < matches.length ; match++) {
			div.row
				div.col.col-6
					div.message-profile
						img(src=src = "data:" + matches[match].dog[0].picture.contentType + ";base64," + matches[match].dog[0].picture.data, alt="Contact Photo")
				div.col.col-2
					a(href="?id=" + matches[match]._id) Owner: #{matches[match].name}
						span.notification #{notifications.sorted_messages}
			- }
		div.col.col-6
			-if(targetUser){
			h2 Messages - #{targetUser.name}
			-}else{
			h2 Messages
			-}
			div.messages-container
				br
				div.messages(id="id_messages")
					- if(messages && messages.length > 0){
						- for(var message = 0; message < messages.length ; message++){
						br
						br
						-if(messages[message].userFrom == target){
							div.row
								p.message-r #{messages[message].message}
						-}
						-else{
							div.row
								p.message-s #{messages[message].message}
						- }
						-}
					-}
					-else{
						-if(target){
							h2.center-text You have no messages.
						-}else{
							h2.center-text Please select a match to message.
						-}
					-}
				div.messages-send
					div.row
						form(method="post", action="/messages?id="+target)
							div.tall-col.col-1
								input(type="hidden", name="userTo", value=target)
							div.tall-col.col-9
								input.text-input(type="text", name="message", placeholder="Type a message...")
							div.tall-col.col-1
								button.btn.btn-primary Send
	link(href="stylesheets/messages.css", type="text/css", rel="stylesheet")

					